**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
dist
dist-dev
node_modules
.pnpm-store
.cache
.rollup.cache
tsconfig.tsbuildinfo
*.spec.tsx
*.spec.ts
pnpm-lock.yaml
package-lock.json
yarn.lock
server
.wrangler
